* {
  font-family: Georgia, serif;;
}

/*INDEX Navigation Bar
.indexnavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8080ff;
}

.indexnavbar > li {
    float: left;
    border-right: 1px solid white;
}

.indexnavbar > li a {
  display: block;
  padding: 8px;
  width: 60px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.indexnavbar > li a:hover {
  background-color: #4d4dff;
}*/
